@font-face {
    font-family: 'Lato';
    src: url('lato.woff2') format('woff2'),
         url('lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'Montserrat';
     src: url('montserrat.woff2') format('woff2'),
          url('montserrat.woff') format('woff');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'Mukta';
     src: url('mukta.woff2') format('woff2'),
          url('mukta.woff') format('woff');
     font-weight: normal;
     font-style: normal;
   }