.main-content__title {
  font-family: 'Poppins', sans-serif;
}
  .main-content__subtitle {
    font-family: 'Chilanka', cursive;
  }
    .main-content__button {
      font-family: 'Mukta', sans-serif;
    }
    body {
    display: block;
    margin: 0;  
    }  
    .header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 80%;
     }
    .main-section {
      margin: auto;
      width: 80%;     
    }
    .logo {
      position: relative;
      padding: 40px 0;
      padding-left: 44px;
      margin-right: 63%;
      display: block;
      font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
    }
    
    .menu {
      display: flex; 
      align-items: center;
      text-decoration: none;
      position: relative;
      font: 18px/21px Roboto, arial, helvetica, sans-serif;
      color: #000;
      cursor: pointer
    }
    .menu__item {
      position: relative;
      padding: 0 13px;
      font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
      color: #000;
      text-decoration: none;
      margin-right: 26px;
      transition: opacity.5s;
    }
    .menu__item:last-child {
      padding-right: 0;
    }
    .logo__circle {
      position: absolute ;
      left: 0;
      top: 50%;
      transform: translateY(-50%); 
      width: 28px;
      height: 28px;
      background: #0056EC;
      border-radius: 50%;
      opacity: .7;
    }
    .logo__circle_color_blue {
      left: 8px;
      top: 56%;
      background: #C8DBFB;
      border-radius: 50%;
      opacity: .7;
    }
    .menu__item_active::after {
      position: relative;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #0056EC;
      margin-right: 0;
    }
    .menu__item:hover {
     opacity: 0.5;
    }
    .menu__item:hover::after {
      position: absolute;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #0056EC;
      transition: opacity .5s, width .5s;
    }  
    .menu__item:hover:after, .menu__item_active:after {
     opacity: 1;
     width: 100%;
    }
         
     
    

     
      
      

     
               
     
