.main-content__title {
  font-family: 'Poppins', sans-serif;
}
  .main-content__subtitle {
    font-family: 'Chilanka', cursive;
  }
    .main-content__button {
      font-family: 'Mukta', sans-serif;
    }
    body {
    display: block;
    margin: 0;  
    }  
    .header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 80%;
     }
    .main-section {
      margin: auto;
      width: 80%;     
    }
    .logo {
      position: relative;
      padding: 40px 0;
      padding-left: 44px;
      margin-right: 63%;
      display: block;
      font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
    }
     .menu {
      display: inline-block;
      display: flex;
      align-items: center;
    }
    .menu__item {
      padding: 0 13px;
    }
    .menu__item:last-child {
      padding-right: 0;
    }
    .logo__circle {
      position: absolute ;
      left: 0;
      top: 50%;
      transform: translateY(-50%); 
      width: 28px;
      height: 28px;
      background: #0056EC;
      border-radius: 50%;
      opacity: .7;
    }
    .logo__circle_color_blue {
      left: 8px;
      top: 56%;
      background: #C8DBFB;
      border-radius: 50%;
      opacity: .7;
    }
      
     
               
     
